
:root  {
  --primary:#4c84c5;
  --background: #0f1114;
  --boxBackground: #fff;
  --backgroundCard:#1f232a;
  --textBlack: #000;
  --textGray: #4a4a4a;
  --textBlue: #147cbb;
  --inputBackground: #f5f5f5;
  --buttonBackground: rgba(65,137,230,0.15);
  --buttonText: #009ee3;
  --borderButton: #009ee3;
  --fontPrincipal: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body, html { 
  margin:0; 
  padding:0; 
  min-height:calc(100vh); 
  background-color: var(--background) !important;
  font-family: var(--fontPrincipal) !important;
  transition: 3s all ease;
  color: var(--boxBackground);
  font-weight: 600;
  letter-spacing: 0.6px;
} 

.links{
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--boxBackground);
  font-family: var(--fontPrincipal) !important;
}
.links:hover{
  color: var(--textGray);
}

.ingresar{
  background-color: var(--primary);
  color: white;
  padding: 5px 10px;
}

/*section 1*/
.titulo-seccion{
  font-weight: bold;
  color:var(--primary);
  margin-top: 15px;
}
.contenedor-seccion{
  margin: 50px auto 0px auto;
  
  width: 100%;   
  background-image: url('../assets/svg.png');
}
.contenedor-parrafos h3{
  font-weight: bolder;
  color: #fff;
}
.contenedor-parrafos p{
  color: #fff;
}
@media (max-width:767px){
  .contenedor-explicacion{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

.contenedor-parrafos{
  height: 400px;
  margin: 25px auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.imagen-seccion{
  width: 200px;
  
}
@media (min-width:768px) and (max-width:1023px){
  .imagen-seccion{
      width: 350px;
  }
  .contenedor-explicacion{
      width: 60%;
      display: flex;
      justify-content: space-around;   
  }
  .contenedor-parrafos{
     
      width: 30%;
    
  }
}
@media (min-width:1024px) {
.contenedor-seccion{
  margin: 100px auto;
  width: 100%;
}
.contenedor-explicacion{
  width: 60%;
  display: flex;
  justify-content: space-around;
  
}
.titulo-seccion{
  font-weight: bold;
  color:var(--primary);;
}
.imagen-seccion{
  width: 550px;
}
.contenedor-parrafos{
  height: 400px;
  margin:auto 25px;
  width: 25%;
  display: flex;
  
  justify-content: space-around;
}
.contenedor-parrafos h3{
  font-weight: bolder;
  font-size: 35px;

}
.contenedor-parrafos p{
  font-size: 20px;
}
}
/* .seccion1-bg{
  background-color: rgba(198,221,244,.1);
} */

/*section 2 */
.contenedor-seccion2 h2{
  font-weight: bolder;
  color: var(--primary);
}
#card{
   background-color: var(--backgroundCard);
   color: #fff;
}
.card{
   margin: 10px 0px;
   -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
   box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
   border-radius: 6px;
   padding: 20px 32px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   text-decoration: none;
   display: block;
   background-color: var(--background);
   width: 95%;
   height: auto;
}
.imagen-usuario{
   border-radius: 50%;
}
.header-text h4{
   font-size: 15px;
   font-weight: bolder;
}
@media (max-width:500px){
   .contenedor-comentario p{
       font-size: 0.8rem;
   }
}
@media (max-width:768px){
   .contenedor-seccion2{
       padding-top: 20px;
   }
   
}

@media (min-width:600px) and (max-width:1023px){
  
   
   .card{
       margin: 10px auto;
       -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
       box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
       border-radius: 6px;
       padding: 20px 32px;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       text-decoration: none;
       display: block;
       color: #000;
       background-color: var(--background);
       
   }
   .card-usuario{
       width: 40%;
   }
}
@media (min-width:1024px){

   .contenedor-seccion2{
       margin: 100px auto;
   }
   
   .contenedor-seccion2 h2{
      
       margin: 40px 0;
   }
   .contenedor-comentarios{
       padding: 20px ;
       margin: auto;
   }
   .contenedor-comentarios ul{
       display: flex;
       justify-content: space-between;
       margin: auto;
   }
   .card{
       margin: 10px 10px;
       -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
       box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
       border-radius: 6px;
       padding: 20px 32px;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       text-decoration: none;
       display: block;
       color: #000;
       width: 30%;
       background-color: var(--background);
      }
   .imagen-usuario{
       border-radius: 50%;
   }
   .header-text h4{
       font-size: 15px;
       font-weight: bolder;
   }
}
/*Explorar*/
.contenedor-explorar{
  margin-bottom: 250px;
}
.contenedor-explore{
      margin-top: 150px;
}

.titulo-explore{
  font-size: 25px;
  text-transform: uppercase;
  color: var(--textGray);
}
.contenedor-usuarios ul{
  list-style: none;
}
.card-usuario{
  width: calc(25% - 20px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 15px;
  height: 250px;
}
.contendor-img {
  margin: 5px auto;
}
.contenedor-text-card{
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-usuario{
  width: 75px;
  height: 71px;
  display: block;
  margin: auto;
}
.contenedor-text-card h3{
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}
.contenedor-text-card h5{
  font-size: 1rem;
  text-align: center;
}
.contenedor-text-card p{
  text-align: center;
}

/* SLider*/
.link{
  text-decoration: none;
}
.lista-categorias{
  display: flex;
  list-style: none;
  justify-content: space-around;
  box-sizing: border-box;
  overflow: hidden;
}
.card-categoria li{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-categoria{
  width: 8%;
  flex-shrink: 0;
}
.card-categoria p{
  color:var(--primary);
  font-size: 0.6rem;
  font-weight: 700;
  margin-top: 10px;
}
.star{
  color: var(--primary);

}
@media (max-width:540px){
  .card-categoria{
      width: 50%;
  }
}
@media (max-width:1024px){
  .slider{
      margin-top: 20px;
  }
}
@media(min-width:1024px){

.slider{
  margin: 40px auto;
  width: 80%;
  
  min-height: 100px;
}
.card-categoria{
  width: 12%;
  flex-shrink: 0;
}
.card-categoria p{
  color:#7c64bf;
  font-size: 0.8rem;
 
  margin-top: 10px;
}
.card-categoria img{
  width: 55px;
}
}
/* Auth css*/
.contenedor-authentificacion {
  margin: 3rem auto 33rem;
}

#btn-nuevo-usuario{
  margin: 1rem auto;
  display: block;
  background-color: var(--primary);
  color: white;
  padding: 5px 10px;
}
.close-titulo{
  display: none
}

/*User Detail */
.contenedor-perfil{
  margin: 30px auto;
 

}

@media(min-width:768px){
  .contenedor-info{
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
  }
}
.contenedor-detalles-nombre{
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-detalles-nombre h1,.contenedor-detalles-nombre p,.contenedor-detalles-nombre h3{
      font-weight: 700;
  
}
.contenedor-detalles-nombre h1{
  font-size: 25px;
  color: white;
}
.contenedor-detalles-nombre p{
  font-size: 12px;
  color: white;
}
.contenedor-detalles-nombre h3{
 font-size: 20px;
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}
.img-usuario{
  border-radius: 50%;
}
.contenedor-descripcion{
  -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 16px;
  border: 1px solid hsla(0,0%,86.3%,.3);
  margin-top: 25px;
  background-color: var(--backgroundCard);
  color: white;
}
.descripcion{
  font-size: 18px;
  font-weight: 700;
 
}
.redes{
  margin-right: 10px;
}

@media(min-width:768px){
  .contenedor-descripcion{
      width: 45%;
      margin-right: 15px;
  }
}

@media(min-width:768px){
  .contenedor-donacion{
      width: 45%;

  }
}
.contenedor-donacion{
  margin-top: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border:1px solid hsla(0,0%,86.3%,.3);
  border-radius: 6px;
  -webkit-box-shadow: 0 0 1px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 10px 20px rgb(0 0 0 / 4%);
  box-shadow: 0 0 1px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 10px 20px rgb(0 0 0 / 4%);
  background-color: var(--backgroundCard);
  color: white;
}
body.dark .contenedor-donacion{
  background-color: rgb(56, 50, 65);
}
.contendor-botones{
  background-color: var(--backgroundCard);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
  color: #fff;
  padding: 0;
  width: 82px;
  height: 32px;
}
.contendor-botones button{
  background-color: #8fa2cc;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  width: 30px;
}
.contenedor-form form input,.contenedor-form form textarea{
  
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000;
  
}
.contenedor-form form button{
  padding: 8px 0;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  background-color: #8fa2cc;
  color: #fff;
  width: 100%;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
}

.contenedor-mensaje{
  width: 70%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-mensaje i{
  font-size: 150px;
  color: green;
  
}
.contenedor-mensaje p{
  font-size: 20px;
  color: green;
  margin-top: 15px;
  text-align: center;
}
/*Footer*/


footer{
  position: relative;
  bottom: 0vh;
  width: 100%;
  margin-top: 180px;
  background-color: var(--backgroundCard);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.contenedor-derechos{
  display: flex;
}
.contenedor-derechos p , .lista-derechos li a{
  color: var(--primary);
  font-weight: 700;
  text-decoration: none;
}

.lista-redes{
  list-style: none;   
  width: 150px;
}
.lista-derechos{
  list-style: none;
}

@media (max-width:425px){
  .contenedor-derechos p , .lista-derechos li a{
      color: rgb(184, 173, 210);
      font-weight: 700;
      font-size: 15px;
  }
  .lista-redes{
      list-style: none;   
      width: 80px;
  }
}

