
/*nueva paleta*/
/*
background:#1F3A5F
navbar: #4d648d
lightblue #acc2ef
grey #1f2b3e
ligthgrey-card #374357;

*/
:root  {

  --secondBackground: #1f2b3e;
  --boxBackground: #0F1C2E
  --textBlack: #000;
  --textGray: #4a4a4a;
  --textBlue: #4d648d;
  --inputBackground: #f5f5f5;
  --buttonBackground: rgba(65,137,230,0.15);
  --buttonText: #009ee3;
  --borderButton: #009ee3;
  --fontPrincipal: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
body, html { 
  margin:0; 
  padding:0; 
  min-height:calc(100vh); 
  background-color: #0F1C2E !important;
  font-family: var(--fontPrincipal) !important;
  transition: 3s all ease;
  color: #fff;
  font-weight: 600;
  overflow-x: hidden;
} 
/*header*/
header,nav{
  transition: 3s all ease-in-out;
}
#ingresar{
  color: white;
}
.burguer{
  font-size: 20px;
}
body.dark .burguer-dark{
  color: white;
}
.contenedor-navbar{
  width: 100%;
  background-color: var(--secondBackground);
  
  }
.contenedor-header{
  padding: 0px 30px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 25px;
  height: 25px;
}
.titulo{
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 15px;
  color: var(--textBlue);
 
}

.links{
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}
.contenedor-logo{
  box-sizing: content-box;
  
}
  
  nav.close{
     display: none ;
     height: 0;
     overflow: hidden;
     transition: 3s all ease;
  }

  nav.open{
      display: flex;
      position: fixed;
      z-index: 500;
      top: 50px;
      left: 0px;
      width: 100%;
      height: 250px;
      background-color: var(--secondBackground);
  }
  body.dark nav.open{
      background-color:rgb(59, 49, 73);
  }
  nav ul{
      margin-top: 2%;
      height: 80%;
      width: 100%;
      min-height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
 nav ul li{
  margin: 12px 0px;
 }

 nav ul li a{
     margin: 5%;
     padding: 10px;
     color: #f5f5f5;
     text-decoration: none;
    
     
 }
 nav ul li:hover{
     border-bottom: 2px solid var(--textGray);
     text-decoration: none;
 }
      
  body.dark  nav ul li:hover{
      border-bottom: 2px solid rgb(184, 173, 210);
  }
  .contenedor-bars{
      cursor: pointer;
  }
  nav.open #ingresar-header{
      color: var(--textGray);
      
  }
  body.dark nav.open #ingresar-header{
      color: rgb(184, 173, 210);
  }
  .menu-icon{
    display: block;
    color: white;
    cursor: pointer;
  }

  .links{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #f5f5f5;
    font-family: var(--fontPrincipal) !important;
  }
  .links:hover{
    color: var(--textGray);
  }
  
  .ingresar{
    background-color: #8fa2cc;
    color: white;
    padding: 5px 10px;
  }
  .contenedor-input-busqueda{
    flex-direction: column;
  }

@media (min-width:768px){    

  .contenedor-header{
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* width: 80% !important; */
  }

  .logo{
    flex: 2;
  }
  nav{
    flex: 2;
    height: 100px;
  }
  nav.close{
    display: block;
    height: auto;
  }

 nav ul{
      margin-top: 2%;
      height: 80%;
      width: 100%;
      min-height: 120px;
      display: flex;
      flex-direction: initial;
      align-items: center;
      justify-content: flex-end;
  }



  nav ul li{
      margin: 5px 20px;
  }
  
  
  .ingresar{
      background-color: var(--textBlue);
      color: #f5f5f5;
      padding: 5px 10px;
  }
  

 
  .menu-icon{
    display: none;
  }

}
@media(min-width:768px){
  .contenedor-header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 60% !important; */
}
}


/*section 1*/
.titulo-seccion{
  font-weight: bold;
  color:var(--textBlue);
  margin-top: 15px;
}
.contenedor-seccion{
  margin: 44px auto 0px auto;
  
  width: 100%;   
}
.contenedor-parrafos h3{
  font-weight: bolder;
  color:var(--textBlue);
}
.contenedor-parrafos p{
  color:#f5f5f5;
}

/*Main*/
div.contenedor-main h1{
  font-size: 24px;
  font-weight: 550;
  color:var(--textBlue);
  text-align: center;
  margin: 44px 0px;
  
}
div.contenedor-main p{
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
  color:#f5f5f5;
  
}
div.contenedor-main div{
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
div.contenedor-main div .btn-crear-cuenta{
  text-decoration: none;
  background-color: #3D5A80;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;

  padding: 4px 34px;
  display: block;
  font-weight: 400;
  height: 40px;
  margin-left: 12px;
  display: flex;
  align-items: center;  

}


@media (min-width:540px) and (max-width:1023px){
  div.contenedor-main{
    width: 80%;
    margin: 14px auto;
  }

  div.contenedor-main h1{
      font-size: 34px;
  }
  div.contenedor-main p{
    font-size: 18px;
  }
  div.contenedor-main div .btn-crear-cuenta{
    padding: 6px 56px;
    font-size: 16px;
    
  }
}
@media (min-width:1024px){
  div.contenedor-main{
    width: 60%;
    margin: 14px auto;
  }
  div.contenedor-main h1{
      font-size: 40px;
  }
  div.contenedor-main p{
    font-size: 18px;
  }
  div.contenedor-main div .btn-crear-cuenta{
    padding: 6px 56px;
    font-size: 16px;
  }
}

/*main*/
/*Seccion 1*/

.contenedor-explicacion{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.contenedor-parrafos{
  height: 400px;
  margin: 25px auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.imagen-seccion{
  width: 200px;
  height: 200px;
}

@media (min-width:768px) and (max-width:1023px){
  .imagen-seccion{
      width: 350px;
      height: 350px;
  }

  .contenedor-explicacion{
      width: 60%;
      display: flex;
      justify-content: space-around; 
      flex-direction: column;  
  }
  .contenedor-parrafos{
     
      width: 30%;
    
  }
}
@media (min-width:1024px) {
.contenedor-seccion{
  margin: 100px auto;
  width: 100%;
}
.contenedor-explicacion{
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  
}
.titulo-seccion{
  font-weight: bold;
  color:var(--textBlue);
  margin-top: 44px;
}
.imagen-seccion{
  width: 500px;
  height: 500px;
}
.contenedor-parrafos{
  height: 400px;
  margin:auto 25px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contenedor-parrafos h3{
  font-weight: bolder;
  font-size: 35px;
}
.contenedor-parrafos p{
  font-size: 20px;
}
}

.seccion1-bg{
  background-color: rgba(198,221,244,.1);
}

/*section 2 */
.contenedor-seccion2 h2{
  font-weight: bolder;
  color:#7d93c4;
}
.card{
   margin: 10px 0px;
   -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
   box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
   border-radius: 6px;
   padding: 16px 32px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   text-decoration: none;
   display: block;
   background: #1f2b3e !important;
   color: #fff !important;
   width: 95%;
   height: auto;
}
.imagen-usuario{
   border-radius: 50%;
}
.header-text h4{
   font-size: 15px;
   font-weight: bolder;
}
@media (max-width:500px){
   .contenedor-comentario p{
       font-size: 0.8rem;
   }
}
@media (max-width:768px){
   .contenedor-seccion2{
       padding-top: 20px;
   }
   
}

@media (min-width:600px) and (max-width:1023px){
  
   
   .card{
       margin: 10px auto;
       -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
       box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
       border-radius: 6px;
       padding: 20px 32px;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       text-decoration: none;
       display: block;
       color: #000;
       
   }
   .card-usuario{
       width: 40%;
   }
}
@media (min-width:1024px){

   .contenedor-seccion2{
       margin: 100px auto;
   }
   
   .contenedor-seccion2 h2{
      
       margin: 40px 0;
   }
   .contenedor-comentarios{
       padding: 20px ;
       margin: auto;
   }
   .contenedor-comentarios ul{
       display: flex;
       justify-content: space-between;
       margin: auto;
   }
   .card{
       margin: 10px 10px;
       -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
       box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
       border-radius: 6px;
       padding: 20px 32px;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       text-decoration: none;
       display: block;
       color: #000;
       width: 30%;
   }
   .imagen-usuario{
       border-radius: 50%;
   }
   .header-text h4{
       font-size: 15px;
       font-weight: bolder;
   }
}
/*Explorar*/
.contenedor-explorar{
  margin-bottom: 250px;
}
.iconos{
 
  color: var(--textBlue);
}
.text-categoria{
  color:var(--textBlue);
  
}
.contenedor-explore{
      margin-top: 150px;
}

.titulo-explore{
  font-size: 25px;
  text-transform: uppercase;
  color: var(--textGray);
}
.contenedor-usuarios ul{
  list-style: none;
}
.card-usuario{
  width: 250px !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 15px;
  height: 250px;
}
.contendor-img {
  margin: 5px auto;
}
.contenedor-text-card{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icono-donaciones{
  margin-right: 5px;
}

.imagen-usuario{
  width: 75px;
  height: 71px;
  display: block;
  margin: auto;
}
.contenedor-text-card h3{
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}
.contenedor-text-card h5{
  font-size: 1rem;
  text-align: center;
}
.contenedor-text-card p{
  text-align: center;
}

/* SLider*/
.link{
  text-decoration: none;
}
.lista-categorias{
  display: flex;
  list-style: none;
  justify-content: space-around;
  box-sizing: border-box;
  overflow: hidden;
}
.card-categoria li{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-categoria{
  width: 8%;
  flex-shrink: 0;
}
.card-categoria p{
  color:#7c64bf;
  font-size: 0.6rem;
  font-weight: 700;
  margin-top: 10px;
}
.star{
  color: #7c64bf;

}
.contenedor-input-busqueda{
  flex-direction: column;
}
.contenedor-input-busqueda button{
  margin-top: 12px;
  padding: 6px 26px;
}
@media (min-width:768px){
  .contenedor-input-busqueda{
    flex-direction: row;
  }
  .contenedor-input-busqueda button{
    margin-top: 0px;
    padding: 8px 56px;
  }
}
@media (max-width:540px){
  .card-categoria{
      width: 50%;
  }
}
@media (max-width:1024px){
  .slider{
      margin-top: 20px;
  }
}
@media(min-width:1024px){

.slider{
  margin: 30px auto 0px;
  width: 80%;
  
  min-height: 100px;
}
.card-categoria{
  width: 12%;
  flex-shrink: 0;
}
.card-categoria p{
  color:#7c64bf;
  font-size: 0.8rem;
 
  margin-top: 10px;
}
.card-categoria img{
  width: 55px;
}
}
/* Auth css*/
.contenedor-authentificacion {
  margin: 3rem auto 33rem;
}
.contenedor-authentificacion h2{
  color: white;
}
#btn-nuevo-usuario{
  margin: 1rem auto;
  display: block;
  background-color: #8fa2cc;
  color: white;
  padding: 5px 10px;
}
.close-titulo{
  display: none
}
/*User Detail*/
.contenedor-perfil{
  margin: 100px auto;
 

}

@media(min-width:768px){
  .contenedor-info{
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
  }
}

@media(min-width:768px){
  .contenedor-donacion{
      width: 45%;

  }
}
.contenedor-donacion{
  margin-top: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border:1px solid hsla(0,0%,86.3%,.3);
  border-radius: 6px;
  -webkit-box-shadow: 0 0 1px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 10px 20px rgb(0 0 0 / 4%);
  box-shadow: 0 0 1px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 10px 20px rgb(0 0 0 / 4%);
  background-color: #ededed;
}
body.dark .contenedor-donacion{
  background-color: rgb(56, 50, 65);
}
.contendor-botones{
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
  color: #333;
  padding: 0;
  width: 82px;
  height: 32px;
}
.contendor-botones button{
  background-color: var(--textBlue);
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  width: 30px;
}
.contenedor-form form input,.contenedor-form form textarea{
  
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000;
  
}
.contenedor-form form button{
  padding: 8px 0;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  background-color: var(--textBlue);
  color: #fff;
  width: 100%;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
}

.contenedor-mensaje{
  width: 70%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-mensaje i{
  font-size: 150px;
  color: green;
  
}
.contenedor-mensaje p{
  font-size: 20px;
  color: green;
  margin-top: 15px;
  text-align: center;
}
.contenedor-detalles-nombre{
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-detalles-nombre h1,.contenedor-detalles-nombre p,.contenedor-detalles-nombre h3{
      font-weight: 700;
      color: white;
}
.contenedor-detalles-nombre h1{
  font-size: 25px;
}
.contenedor-detalles-nombre p{
  font-size: 12px;
 
}
.contenedor-detalles-nombre h3{
 font-size: 20px;
  color: var(--textBlue);
  border-bottom: 2px solid var(--textBlue);
}
.img-usuario{
  border-radius: 50%;
}
.contenedor-descripcion{
  -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 16px;
  border: 1px solid hsla(0,0%,86.3%,.3);
  margin-top: 25px;
  color: white;
}
.descripcion{
  font-size: 18px;
  font-weight: 700;
}
.redes{
  margin-right: 10px;
}

@media(min-width:768px){
  .contenedor-descripcion{
      width: 45%;
      margin-right: 15px;
  }
}
/*Footer*/


footer{
  position: relative;
  bottom: 0vh;
  width: 100%;
  margin-top: 180px;
  background-color: var(--secondBackground);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.contenedor-derechos{
  display: flex;
}
.contenedor-derechos p , .lista-derechos li a{
  color:var(--textBlue);
  font-weight: 700;
  text-decoration: none;
}

.lista-redes{
  list-style: none;   
  width: 150px;
  color: var(--textBlue);
}
.lista-derechos{
  list-style: none;
}

@media (max-width:425px){
  .contenedor-derechos p , .lista-derechos li a{
      color: var(--textBlue);
      font-weight: 700;
      font-size: 15px;
  }
  .lista-redes{
      list-style: none;   
      width: 80px;
      
  }
}

